* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

html {
  width: 100%;
  height: 100%;
  font-size: 18px;
}

body {
  width: 100%;
  height: 100%;
}

img {
  border: none;
  outline: none;
}

.body__wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.theme {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #263238;
}

.theme h1 {
  font-size: 2rem;
  font-weight: 900;
  text-shadow: 1px 1px 5px #607d8b;
}

.theme h2 {
  font-size: 1.8rem;
  font-weight: 900;
  text-shadow: 1px 1px 3px #607d8b;
  padding: 5px 10px;
}

.theme h3 {
  font-size: 1.6rem;
  font-weight: 700;
  text-shadow: 0 0 3px #607d8b;
}

.theme h4 {
  font-size: 1.4rem;
  font-weight: 400;
  text-shadow: 0 0 3px #607d8b;
}

.theme p {
  padding: 5px;
  text-align: justify;
}

.theme p::first-letter {
  font-weight: 900;
  font-style: italic;
  text-transform: uppercase;
}

.theme a {
  color: #ffffff;
  background-color: #ffccbc;
  border-radius: 10px;
  padding: 0 0.25rem;
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  text-shadow: 0 0 2px #bf360c;
}

.theme a:hover {
  -webkit-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  cursor: pointer;
  background-color: #ff5722;
}

.theme span {
  font-style: italic;
  letter-spacing: -0.05em;
}

.theme b {
  font-weight: 900;
  letter-spacing: 0.05em;
}

.theme code {
  color: #ffffff;
  background-color: #004d40;
  padding: 0.2rem;
  margin: 0.2rem;
  font-weight: 300;
  border-radius: 0.2rem;
  opacity: .9;
  display: block;
}

.theme ul {
  padding: 0.5rem 2.2rem;
}

.theme ul li {
  padding: 0.1rem 0.6rem;
  list-style-type: decimal;
  border-radius: 5px;
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
}

.theme ul li:nth-child(2n) {
  background-color: #b2dfdb;
}

.theme ul li:hover {
  -webkit-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  background-color: #009688;
  color: #ffffff;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Black.woff") format("woff"), url("./fonts/Merriweather-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-BlackItalic.woff") format("woff"), url("./fonts/Merriweather-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Bold.woff") format("woff"), url("./fonts/Merriweather-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-BlackBold.woff") format("woff"), url("./fonts/Merriweather-BlackBold.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Regular.woff") format("woff"), url("./fonts/Merriweather-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Italic.woff") format("woff"), url("./fonts/Merriweather-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Light.woff") format("woff"), url("./fonts/Merriweather-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-LightItalic.woff") format("woff"), url("./fonts/Merriweather-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

.header {
  width: 100%;
  background-color: #ff5722;
  -webkit-box-shadow: 0 0 5px #bf360c;
          box-shadow: 0 0 5px #bf360c;
  color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
}

.header__container {
  max-width: 1440px;
  height: auto;
  padding: 10px 15px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.header__logo {
  min-width: 40px;
  width: 40px;
  height: 40px;
  background: no-repeat center center url(../img/013-idea.svg);
  background-size: cover;
  margin: 0 15px;
}

.main {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #eceff1;
}

.main section {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 15px;
}

.footer {
  width: 100%;
  background-color: #009688;
  color: #ffffff;
  -webkit-box-shadow: 0 0 3px #004d40;
          box-shadow: 0 0 3px #004d40;
}

.footer__container {
  max-width: 1440px;
  height: 40px;
  margin: 0 auto;
  padding: 10px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

@media (max-width: 1440px) {
  html {
    font-size: calc(10px + 8 * (100vw - 320px) / 1120);
  }
}