@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Black.woff") format("woff"), url("./fonts/Merriweather-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-BlackItalic.woff") format("woff"), url("./fonts/Merriweather-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Bold.woff") format("woff"), url("./fonts/Merriweather-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-BlackBold.woff") format("woff"), url("./fonts/Merriweather-BlackBold.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Regular.woff") format("woff"), url("./fonts/Merriweather-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Italic.woff") format("woff"), url("./fonts/Merriweather-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-Light.woff") format("woff"), url("./fonts/Merriweather-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Merriweather";
  font-display: swap;
  src: url("../fonts/Merriweather-LightItalic.woff") format("woff"), url("./fonts/Merriweather-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}