.footer {
   width: 100%;
   background-color: $prime;
   color: $tp;
   box-shadow: 0 0 3px $primeDark;

   &__container {
      max-width: 1440px;
      height: 40px;
      margin: 0 auto;
      padding: 10px 15px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
   }
}