.header {
   width: 100%;
   background-color: $sec;
   box-shadow: 0 0 5px $secDark;
   color: $tp;
   position: sticky;

   &__container {
      max-width: 1440px;
      height: auto;
      padding: 10px 15px;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      text-align: center;
   }

   &__logo {
      width: 40px;
      height: 40px;
      background: no-repeat center center url(../img/013-idea.svg);
      background-size: cover;
      margin: 0 15px;
   }
}