$prime: #009688;
$primeDark: #004d40;
$primeLight: #b2dfdb;

$sec: #ff5722;
$secDark: #bf360c;
$secLight: #ffccbc;

$dark: #607d8b;
$light: #eceff1;

$tp: #ffffff;
$ts: #263238;

$ff: 'Merriweather',
serif;